.card-container{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
    grid-gap : 1rem;
    padding: 35px;
    bottom: 50px;
    position: relative;
    left: 5px;

}
.card-button{
display: flex;
align-items: flex-end;
justify-content: flex-end;
bottom: 20px;
right: 5px;

}
.card-button-delete{
    cursor: pointer;
}
.refresh-button{
    box-shadow: 0px 0px 10px rgb(179, 179, 179);
    cursor: pointer;
    background-color: white;
    transition: all ease-in-out 0.5s;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    left: 70px;
    bottom: 75px;
}
.refresh-button:hover{
    background-color:#94B49F;
}

@media screen and (max-width: 786px) {
    .refresh-button {
      position: relative;
      padding: 5px;
      left: 50px;
    }
    
  }