.card-search{
    position: relative;
    left: 30px;
  }
  @media screen and (min-width: 786px) {
  
    .card-search{
      position: relative;
      width: 400px ; 
      left: 30px;
    }
  }
  @media screen  and (min-width: 992px) {
    .card-search{
        position: relative;
        width: 600px ; 
        left: 30px;
      }
  }
  @media screen  and (min-width: 1200px) {
    .card-search{
        position: relative;
        width: 800px; 
        left: 30px;
      }
  }